@charset "utf-8";

.cafe_stat{margin:20px 0 0 20px;width:140px;*zoom:1;}
.cafe_stat:after{content:'';display:block;clear:both;}
.cafe_stat dt,.sidebar .cafe_stat dd{font-size:12px;line-height:18px;float:left;}
.cafe_stat dt{width:65px;color:#dededf;}
.cafe_stat dd{width:65px;color:#b9caed;}
